div#result {
    padding: 20px 30px;
    background: #dadada;
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
}

img {
    width: 200px;
    padding: 5px;
    margin: 10px;
    border: 5px solid black;
}

#images {
    text-align: center;
}